.main>div
{
    display: inline-block;
}
.nav-bar
{
    width: 200px;
    float: left;
}
.content
{
    float: left;
}
input
{
    width: 120px;
}
.navbar li
{
   display: block;
    font-size: larger;
    width: 140px;
    border: 5px;
    border-color: #c00c49;
    border-style: groove;
    background: gray;
    text-align: center;
}
.navbar  li a:hover
{
    color:blanchedalmond;
}
.navbar  li a
{
    text-decoration: none;
    color:black;
}
